@tailwind base;
@tailwind components;
@tailwind utilities;
/* 一行字幕 */
body{
    user-select: none;
}
.sub-container{
    padding:16px 0;
  }

  .sub-row{
    /* background-color: #222222; */
    padding:6px 8px 6px 4px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    /* color:#fff; */
  }
  .sub-row.active{
    background-color: #5312b4;
    color:aliceblue;
  }
  .sub-word{
    margin-left:6px;
    cursor: pointer;
  }
  .sub-container.user-selecting .sub-word{
    cursor: none;
}
.sub-container.user-selecting .sub-word:hover{
    background-color: unset;
}
  .sub-word:hover{
    background-color: #ccc;
  }
  .sub-row .favorite-icon{
    visibility: hidden;
    display: inline-block;
    margin-left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffec8e' d='m22 9.24-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    vertical-align: bottom;
    cursor: pointer;
  }
  .sub-row-icons{
    visibility: hidden;
  }
  .sub-row:hover .sub-row-icons{
    visibility: visible;
  }


  ::selection {
    color: red;
    background: yellow;
  }